[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
examplepackagefb1258 = {file = ".", editable = true}
coverage = "*"
pytest-cov = "*"
twine = "*"
pyfortunecookie = {file = ".", editable = true, path = "./src/pyfortunecookie"}
pytest = "*"
build = "*"

[dev-packages]

[requires]
python_version = "3"
